:root {
  --header-color-light:                 #e5c077;
  --header-color-dark:                  #3F4F19;
  --nav-desktop-text-color-light:       #091614;
  --nav-desktop-text-color-dark:        #F5EFDC;

  --nav-mobile-background-color-light:  rgba(255, 255, 255, 0.9);
  --nav-mobile-text-color-light:        black;
  --nav-mobile-hover-color-light:       #66aaff;
  --nav-mobile-background-color-dark:   rgba(0, 0, 0, 0.9);
  --nav-mobile-text-color-dark:         white;
  --nav-mobile-hover-color-dark:        #0000ff;

  --table-background-color-dark:        #614a44;
  --table-border-color-dark:            #807f87;
  --table-inside-border-color-dark:     #b1ab96;
  --table-text-color-dark:              #F5EFDC;

  --table-background-color-light:       #8DAF57;
  --table-border-color-light:           #47762c;
  --table-inside-border-color-light:    #253e17;
  --table-text-color-light:             black;

  --form-background-color-light:        #e5c077;
  --form-border-color-light:            #a38855;
  --form-text-color-light:              #091614;
  --form-placeholder-color-light:       #493B27;
  --form-background-color-dark:         #3F4F19;
  --form-border-color-dark:             #232c0e;
  --form-text-color-dark:               #F5EFDC;
  --form-placeholder-color-dark:        #BDD57B;

  --higlight-verylow:                   light-dark(rgba(255, 255, 255, 0.2),
                                                   rgba(  0,   0,   0, 0.2));
  --higlight-low:                       light-dark(rgba(255, 255, 255, 0.3),
                                                   rgba(  0,   0,   0, 0.3));
  --higlight-medium:                    light-dark(rgba(255, 255, 255, 0.4),
                                                   rgba(  0,   0,   0, 0.4));
  --higlight-high:                      light-dark(rgba(255, 255, 255, 0.5),
                                                   rgba(  0,   0,   0, 0.5));
  --higlight-veryhigh:                  light-dark(rgba(255, 255, 255, 0.6),
                                                   rgba(  0,   0,   0, 0.6));

  /* ------------------------------------------ */
  /*                  Unused                    */
  --x-background-color-dark:            #212b4d;
  --x-text-color-dark:                  #FAB300;
  --x-border-color-dark:                #13192d;
  /* ------------------------------------------ */
}
