@import url("color.css");
@import url("font.css");
@import url("animation.css");

:root {
  font-size: 100%;
  color-scheme: light dark;

  --header-height: 10vh;
  --main-height: calc(100vh - var(--header-height));

  --exit-button-size: 2.6rem;
  --exit-button-margin: 0.4rem;
  --exit-button-total-size: calc(var(--exit-button-size) + 2 * var(--exit-button-margin));

  --fade-time: 1s;
}

.f-note {
  font-family: note;
}

.f-comic {
  font-family: comic;
  font-weight: 500;
  font-kerning: none;
}

.f-big {
  font-size: clamp(1.8rem, 3.6vw, 3rem);
}
.f-small {
  font-size: clamp(0.9rem, 1.8vw, 1.5rem);
}
.f-normal {
  font-size: clamp(1.4rem, 2.7vw, 2.3rem);
}

.img-container {
  width: var(--header-height);
  height: var(--header-height);
  img {
    width: 90%;
    height: 90%;
    margin: 5%;
  }
}

.img-container:has( > #theme-icon:hover) {
  background-color: var(--higlight-verylow);
}

.nav-desktop {
  display: flex;
  height: 100%;
  justify-content: start;
  flex-grow: 1;
}

.nav-link-container {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  text-decoration: none;
  color: light-dark(var(--nav-desktop-text-color-light), var(--nav-desktop-text-color-dark));
  span {
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
  }
}
.nav-link-container:hover {
  background-color: var(--higlight-verylow);
}

.nav-mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  background-color: light-dark(var(--nav-mobile-background-color-light), var(--nav-mobile-background-color-dark));
  a {
    padding: 0.5rem;
    text-decoration: none;
    color: light-dark(var(--nav-mobile-text-color-light), var(--nav-mobile-text-color-dark));
  }
  a:hover {
    background-color: light-dark(var(--nav-mobile-hover-color-light), var(--nav-mobile-hover-color-dark));
  }

}
.nav-button {
  display: none;
  font-size: calc(var(--header-height)/2);
  color: light-dark(var(--nav-desktop-text-color-light), var(--nav-desktop-text-color-dark));
  cursor: pointer;
  width: var(--header-height);
  height: var(--header-height);
  align-items: center;
  justify-content: center;
}
.nav-button:hover {
  background-color: var(--higlight-verylow);
}
#nav-check {
  display: none;
}
#nav-check:checked ~ .nav-mobile {
  display: flex;
}

.space {
  display: none;
  width: auto;
  flex-grow: 2;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: linear-gradient(0.25turn, #1d1d1d -20%, #407489, #d9732b, #1d1d1d 120%);
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: light-dark(var(--header-color-light), var(--header-color-dark));
  position: sticky;
  top: 0;
  z-index: 1000;
  height: var(--header-height);
  box-shadow: 0 0.4rem 0.7rem black;
}

main {
  display: flex;
  justify-content: center;
  align-items: top;
  height: var(--main-height);

  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  background-image: url('/assets/images/bg_landscape.webp');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  transition: background 1.5s ease;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
}

section {
  width: 100vw;
  height: fit-content;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 0;
}

.exit-button {
  display: flex;
  position: relative;
  top: 0;
  left: calc(100% - var(--exit-button-total-size));
  width: var(--exit-button-size);
  height: var(--exit-button-size);
  padding: 0;
  margin: var(--exit-button-margin);

  border: none;
  background-color: transparent;
  cursor: pointer;

  line-height: calc(var(--exit-button-size) - 0.6rem);
  text-align: center;
  justify-content: center;
  color: light-dark(black, white);
  font-weight: 800;
  font-size: var(--exit-button-size);
}
.exit-button:hover {
  color: light-dark(red, red);
}
.exit-button:active {
  color: light-dark(darkred, darkred);
}

/* Usunięcie strzałek z inputów typu number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.pagination-container {
  border-top: 1px solid #eeeeee;
  margin-top: 1em;
  padding-top: 0.5em;
  font: 1.2em sans-serif;

  display: flex;
  justify-content: center;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 1px;
}

.pagination a {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid #999999;
  border-radius: 0.2em;
  text-decoration: none;
}

.pagination a[aria-current="page"] {
  background-color: #333333;
  color: white;
}
